@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewData["Title"] - ERPSystem</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords"
          content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/login/assets/image/favicon-16x16.png">

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/files/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- radial chart.css -->
    <link rel="stylesheet" href="/files/assets/pages/chart/radial/css/radial.css" type="text/css" media="all">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/files/assets/icon/feather/css/feather.css">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- simple line icon -->
    @*<link rel="stylesheet" type="text/css" href="/files/assets/icon/simple-line-icons/css/simple-line-icons.css">*@
    <link rel="stylesheet" href="/files/bower_components/select2/dist/css/select2.min.css" />
    <!-- Date-Dropper css -->
    <link rel="stylesheet" type="text/css" href="/files/bower_components/datedropper/datedropper.min.css" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/files/assets/css/jquery.mCustomScrollbar.css">
    <!-- Required Jquery -->
    <script type="text/javascript" src="/files/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/files/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/files/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="/files/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a href="/index.html">
                            @*<img class="img-fluid" src="/files/assets/images/erp logo falcon.png" alt="Theme-Logo" />*@ <h4 style="text-align:center">Falcon-ERP</h4>
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close">
                                            <i class="feather icon-x"></i>
                                        </span>
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon search-btn">
                                            <i class="feather icon-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="feather icon-maximize full-screen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">

                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <span>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @User.Identity.Name
                                            }
                                        </span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="@Url.Action("Logout","Admin")">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    @await Component.InvokeAsync("NavigationMenu")
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        @RenderBody()
                                    </div>
                                </div>
                                <div id="styleSelector">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/files/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/files/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="/files/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="/files/bower_components/chart.js/dist/Chart.js"></script>
    <!-- gauge js -->
    <script src="/files/assets/pages/widget/gauge/gauge.min.js"></script>
    <script src="/files/assets/pages/widget/amchart/amcharts.js"></script>
    <script src="/files/assets/pages/widget/amchart/serial.js"></script>
    <script src="/files/assets/pages/widget/amchart/gauge.js"></script>
    <script src="/files/assets/pages/widget/amchart/pie.js"></script>
    <script src="/files/assets/pages/widget/amchart/light.js"></script>
    <!-- jquery sortable js -->
    <script type="text/javascript" src="/files/bower_components/Sortable/Sortable.js"></script>
    @*<script src="~/assets/js/moment.js"></script>*@

    <!-- Select2 -->
    <script src="~/vendors/select2/dist/js/select2.js"></script>
    <!-- DateJS -->
    <script src="~/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/files/assets/pages/sortable-custom.js"></script>
    <!-- Date-dropper js -->
    <script type="text/javascript" src="/files/bower_components/datedropper/datedropper.min.js"></script>

    <!-- Custom js -->
    <script src="/files/assets/js/pcoded.min.js"></script>
    <script src="/files/assets/js/vartical-layout.min.js"></script>
    <script src="/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="/files/assets/js/script.js"></script>
    

    <!-- Custom Theme Scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <div class="modal fade bs-example-modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="ModalTitle">New Item</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-md" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalTitleSM">New Item</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</body>

</html>
