@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="~/Repo/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - ERP Solution</title>
    
</head>
<body>
    <style>
        .al-Ver-Mid {
            text-align: right;
            padding-top: 25px;
        }
    </style>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img width="250" src="~/images/pic2.jpeg" style="left:0"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2 class="al-Ver-Mid"><b style="color: #0d70b4"> Nawaz Iron &amp; Steel Merchant </b></h2>
        </div>
    </div>
    
    @RenderBody()

    <!-- jQuery -->
    <script src="~/Repo/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Repo/bootstrap.min.js"></script>
</body>
</html>
