
<h2>
    List Items
</h2>
<a class="btn btn-primary nav-link text-white float-right" style="margin-bottom: 20px;" asp-area="" asp-controller="FamilyOfAction" asp-action="Upsert"><i class="fa fa-plus" aria-hidden="true"></i></a>
<div class="table-responsive">
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Parameters</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/ERP/Items.js"></script>
}